nav.navigation {
	.screen-reader-text {
		display: none;
	}

	font-size: 1.2rem;

	.nav-links {
		.page-numbers {
			margin: 0 0.5em;

			&.current {
				color: $brand-accent;
			}
		}

		a {
			font-weight: 300;
		}
	}

	&.post-navigation {
		color: $brand-accent;
		margin-top: 3em;

		a {
			margin: 0 0.5em;
		}

		span.title {
			color: $brand-primary;
		}
	}
}

article {
	margin-bottom: 3em;

	&.tag-sticky {
		background: $brand-accent;
		color: #fff;
		padding-top: 0.75em;

		h1 {
			margin-bottom: 0.5em;

			a {
				color: #fff;
			}
		}

		.the-date {
			display: none;
		}
	}

	h2 {
		margin: 0.5em 0 1.5em 0;
	}

	figure {
		margin: 0 0 1em;

		.figure-img {
			margin: 0;
		}
	}

	p {
		-webkit-margin-after: 0;
	}

	.comments {
		font-size: 0.8rem;
		margin-top: 2em;
		margin-bottom: 1.5em;
		text-transform: uppercase;

		a {
			font-weight: 300;
		}
	}

	.post-categories,
	.post-tags {
		margin-top: 1em;
	}
}

section#comments {
	article {
		margin-bottom: 1em;

		.date {
			@extend .h2;
			margin-bottom: 0;
		}
	}

	.comment-form {
		margin-top: $section-margin;

		> div {
			border-top: 1px solid $brand-secondary;
			padding-top: 3em;
		}

		.required {
			color: $brand-accent;
		}
	}
}