nav.navigation {
	.screen-reader-text {
		display: none;
	}

	font-size: 1.2rem;

	.nav-links {
		.page-numbers {
			margin: 0 0.5em;

			&.current {
				color: $brand-accent;
			}
		}

		a {
			font-weight: 300;
		}
	}
}

article {
	margin-bottom: 3em;

	h2 {
		margin: 0.5em 0 1.5em 0;
	}

	figure {
		margin: 0 0 1em;

		.figure-img {
			margin: 0;
		}
	}

	.comments {
		font-size: 0.8rem;
		margin-bottom: 1.5em;
		text-transform: uppercase;

		a {
			font-weight: 300;
		}
	}

	.post-categories,
	.post-tags {
		margin-top: 1em;
	}
}