footer {
	background-color: $background-color;
	height: $footer-height;
	padding-bottom: calc(#{$section-margin} - 1em);
	padding-top: calc(#{$section-margin} - 1em);
	position: relative;

	&::before {
		@extend .full-line;

		top: 0;
	}
}