h1 {
	font-size: 1.5rem;
	margin-bottom: 0;

	a {
		border: 0;
		text-decoration: none;

		&:hover, &:focus {
			border-bottom: 1px solid $link-border-bottom-color;
			text-decoration: none;
		}
	}
}

h2 {
	color: $brand-primary;
	font-size: 0.8rem;
	font-weight: 300;
	text-transform: uppercase;
}