// some structure
body > .overflower {
	overflow: hidden;
}

// basic styles
h1, h2, .h2, h3, h4, h5, h6 {
	line-height: 1.5 !important;
}

h1 {
	font-size: 1.5rem;
	font-weight: 300;
	margin-bottom: 0;

	a {
		border: 0;
		font-weight: 300;
		text-decoration: none;

		&:hover, &:focus {
			border-bottom: 1px solid $brand-accent;
			text-decoration: none;
		}
	}
}

h2, .h2 {
	color: $brand-primary;
	font-size: 0.8rem;
	font-weight: 300;
	text-transform: uppercase;

	a {
		font-weight: 300;
	}
}

.font-awesome {
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
}

.full-line {
	box-sizing: border-box;
	content: '';
	position: absolute;
	bottom: 0;
	left: -999px;
	right: -999px;
	height: 1px;
	background: $brand-secondary;
}

a {
	border: 0;
	border-bottom: 1px solid $brand-secondary;
	color: $brand-primary;
	font-style: normal;
	font-weight: 500;
	text-decoration: none;

	&:hover, &:focus {
		border-bottom: 1px solid $brand-accent;
		text-decoration: none;
	}
}

.post-tags a {
	@extend a.post-continue-reading;

	background: $brand-secondary;
	margin: 0 0.5em 0 0;
	padding: 0.1em 0.2em;
}

a.post-continue-reading {
	background: $brand-primary;
	border: none;
	color: white;
	display: inline-block;
	margin: 0 1.5em 0 0;
	padding: 1em 1.5em;
	-webkit-transition: background 0.1s ease-in-out;
	transition: background 0.1s ease-in-out;

	&:link, &:visited {
		color: white;
	}

	&:hover, &:active, &:focus {
		color: white;
		background: $brand-secondary;
	}
}

a.post-comment-count {
	@extend a.post-continue-reading;

	background: white;

	&::before {
		@extend .font-awesome;

		content: "\f075";
		position: relative;
		left: -0.5rem;
	}

	&:link, &:visited {
		color: $brand-primary;
	}

	&:hover, &:active, &:focus {
		color: $brand-accent;
		background: white;
	}
}

blockquote,
.quotelike {
	border-left: 1px solid $brand-primary;
	margin: 0 0 0 1em;
	padding: 0 0 0 1em;
}