// <header></header> styles
header {
	border: none;
	position: relative;

	& > div {
		margin-bottom: 2em;

		&::after {
			box-sizing: border-box;
			content: '';
			position: absolute;
			bottom: 0;
			left: -999px;
			right: -999px;
			height: 1px;
			background: $brand-secondary;
		}
	}

	.topline {
		margin-bottom: 2em;
		margin-top: 2em;

		h2 {
			margin-bottom: 0;
		}
	}

	ul.nav {
		font-size: $navigation-font-size;

		& > li {
			border-bottom: $navigation-border;

			&:last-child {
				border-bottom: 0;
			}
		}

		li {
			list-style: none;
			padding: $navigation-padding;

			ul {
				padding-left: 1em;
			}

			a {
				color: $navigation-font-color;
			}

			span.toggler {
				cursor: pointer;
				position: relative;

				&::before {
					@extend .font-awesome;

					content: "\f196";
					text-decoration: inherit;
					color: $navigation-font-color;
					position: absolute;
					top: 0;
					left: -1rem;
				}

				&.open::before {
					content: "\f147";
				}
			}
		}
	}
}

@include media-breakpoint-down(xs) {
	header {
		.topline {
			margin-bottom: 0.1em;
			margin-top: 0.1em;
		}
	}
}