// <header></header> styles
header {
	background: $body-bg;
	border: none;

	& > div {

		&::after {
			@extend .full-line;
		}
	}

	a.logo-image {
		border: 0;
	}

	.topline {
		padding-bottom: $header-margin;
		padding-top: $header-margin;

		h2 {
			margin-bottom: 0;
		}

		h1, h2 {
			line-height: 1.1 !important;
		}
	}

	// explicit targeting to avoid collision with first level addon
	ul#menu-primary {
		font-size: $navigation-font-size;

		& > li {
			border-bottom: $navigation-border;

			&:last-child {
				border-bottom: 0;
			}
		}

		li {
			list-style: none;
			padding: $navigation-padding;

			ul {
				padding-left: 1em;
			}

			a {
				border: 0;
				color: $navigation-font-color;

				&:hover, &:focus {
					color: $brand-accent;
				}
			}

			span.toggler {
				cursor: pointer;
				float: right !important;
				position: relative;

				&::before {
					@extend .font-awesome;

					content: "\f196";
					text-decoration: inherit;
					color: $navigation-font-color;
					position: absolute;
					top: 0;
					left: -1rem;
				}

				&.open::before {
					content: "\f147";
				}
			}
		}
	}

	.first-level-addon {
		display: none;
	}

}

@include media-breakpoint-up(xl) {
	header {
		.first-level-addon {
			display: block;
			margin-top: $first-level-nav-addon-margin;
			padding-bottom: $first-level-nav-addon-margin;

			.current-menu-item {
				a {
					color: $brand-accent;
				}
			}
		}
	}
}

@include media-breakpoint-down(xs) {
	header {
		.topline {
			padding-bottom: 0.5em;
			padding-top: 0.5em;
		}
	}
}

aside {
	background: $body-bg;
	margin-bottom: $section-margin;
	position: relative;

	&::after {
		@extend .full-line;
	}

	#widgets-primary {
		padding-bottom: $header-margin;
		padding-top: $header-margin;
	}

	#widgets-primary-open {
		background: $body-bg;
		border: 1px solid $brand-secondary;
		border-top: 0;
		padding: 0.25em 0.75em;
		position: absolute;
		top: 100%;

		img.hidden {
			display: none;
		}
	}

	button:focus {
		outline: 0;
	}
}