// first level navigation and footer navigation
ul.nav-inline {
    .nav-item + .nav-item {
        margin-left: 1rem;
    }
}

// navigation on the bottom of the page
nav.navigation {
	.screen-reader-text {
		display: none;
	}

	font-size: 1.2rem;

	.nav-links {
		.page-numbers {
			margin: 0 0.5em;

			&.current {
				color: $brand-accent;
			}
		}

		a {
			font-weight: 300;
		}
	}

	&.post-navigation {
		color: $brand-accent;
		margin-top: 3em;

		a {
			margin: 0 0.5em;
		}

		span.title {
			color: $brand-primary;
		}
	}
}