.carousel-april {
	.carousel-control {
		border: 0;
		background: none;
		color: $brand-accent;

		&:hover, &:focus {
			border: 0;
			text-decoration: none;
		}

		.icon-prev::before {
			content: "\25C2";
		}

		.icon-next::before {
			content: "\25B8";
		}
	}

	.carousel-caption {
		background-color: rgba(255, 255, 255, 0.8);
		bottom: 0 !important;
		color: $brand-primary;
		left: 0 !important;
		right: 0 !important;
		padding: 1em 0;
		text-align: center;
		text-shadow: none;
	}
}