// header
$header-line-color: #999;
$header-font-color-lighter: #aaa;

// navigation
$navigation-font-color: #333;
$navigation-font-size: 0.85rem;
$navigation-border: 1px solid #ccc;
$navigation-padding: 0.3rem 0 0.25rem 0;

// bootstrap adjusted variables
$brand-primary: #333;
$body-color: #333;