// background
$background-color: #fff;

// navigation
$navigation-font-color: #333;
$navigation-font-size: 0.85rem;
$navigation-border: 1px solid #ccc;
$navigation-padding: 0.3rem 0 0.25rem 0;

// header
$header-margin: 1em;

// first level addon nav
$first-level-nav-addon-margin: 1em;

// bootstrap adjusted variables
$brand-primary: #333;

// content
$brand-secondary: #999;
$brand-accent: #099;
$section-margin: 2em;

// footer
$footer-height: 4em; // without padding/margin